body {
    background-color:#4dad59f2;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size:3rem;
    text-align:center;
    font-weight:400;
    color:#480b0b;
}
h3 {
    font-size:1.5rem;
    text-align:center;
}
#tents {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.tent {
    background-color:#ffac3c;
    border:10px solid #ffcb85;
    margin:1em;
    color:#214625;
    padding: 1em;
}
.tent:hover {
    border:10px solid #ffac3c;
}
ul {
    list-style-type:none;
}